/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.bodybg{
	-fx-background-image:url("sombra.gif");
	-fx-background-size: cover;
}

.menubar{
	-fx-alignment: top-center ;
}

.text{
	-fx-font-family: "BigNoodleTitling";
	-fx-font-size: 24px;
}

.text-name{
	-fx-font-family: "BigNoodleTitling";
	-fx-font-size: 52px;
}

.text-host{
	-fx-font-family: "BigNoodleTitling";
	-fx-font-size: 44px;
}

.text-area {
	-fx-font-family: "BigNoodleTitling";
	-fx-font-size: 24px;
    -fx-background-color: black;
    -fx-text-fill: white;
}

.text-field {
	-fx-font-family: "BigNoodleTitling";
	-fx-font-size: 24px;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.menu-bar {
	
    -fx-background-color: black;
    -fx-opacity: 0.8;
}


.menu-item {
    -fx-padding: 1em 1em 1em 1em;
    -fx-text-fill: white;
}